{
	log main {
		output file /var/log/caddy/access.log {
			roll_size 3gb
			roll_keep 10
			roll_keep_for 2160h
		}
	}
}

:80 {
	# You have to place this in every route you want to add logs
	log main

	respond /health-check 200
	respond "Hello, world!"
}
