[Unit]
Description=Blog server

[Service]
ExecStart=/usr/local/bin/blog-server
WorkingDirectory=/home/tsugumisys
Restart=always
User=tsugumisys

[Install]
WantedBy=multi-user.target
