[Unit]
Description=Glances in Web Server Mode
After=network.target

[Service]
ExecStart=/usr/bin/glances -w
Restart=on-failure
User=root
WorkingDirectory=/root
Environment="LC_ALL=en_US.UTF-8"
Environment="LANG=en_US.UTF-8"

[Install]
WantedBy=multi-user.target
